@import "../node_modules/bootstrap/scss/functions";

// Default variable overrides

// Required
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

$utilities: map-merge(
  $utilities,
  (
    "font-size":
      map-merge(
        map-get($utilities, "font-size"),
        (
          responsive: true,
        )
      ),
  )
);

@import "bootstrap/scss/utilities/api";
@import "../node_modules/bootstrap/scss/root";
@import "bootstrap/scss/bootstrap";

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: bold;
  font-display: swap;
}

body {
  font-family: "Montserrat";
}

.text-balance {
  text-wrap: balance;
}

.overflow-scroll {
  overflow: scroll;
}

.font-xl {
  font-size: 2rem;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: url("/right.svg");
  display: block;
  margin-top: 2px;
}

.fs-14 {
  font-size: 0.9rem;
}

.letter-spacing-1 {
  letter-spacing: 1px;
}

.arrow {
  position: relative;
}

.arrow::after {
  content: " ";
  position: absolute;
  left: -7px;
  top: 50%;
  transform: translateY(-50%);
  border-top: 7px solid transparent;
  border-right: 7px solid rgb(226, 227, 229);
  border-left: none;
  border-bottom: 7px solid transparent;
}

.full-width {
  min-width: 100%;
}

.max-width {
  max-width: 400px;
}

.max-width-2 {
  max-width: 600px;
}

.max-width-3 {
  max-width: 1200px;
}
